@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-400: #fdf8eb;
  --color-secondary-400: #7badca;
  --color-stroke-400: #459cce;
  --color-tertiary-400: #ff5900;
  --color-tertiary-500: #d94d02;
  --color-tertiary-600: #8c3202;

  /*Typografi */
  --font-display: "Honk", monospace;
  --font-sans: "Quicksand", sans-serif;
  --font-serif: "Domine", serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
