<section class="dropdown">
  <div class="bg-primary-400 p-10 md:p-20">
    <h2 class="pb-5 md:pb-10 text-[17px] md:text-[27px] text-center">HVAD KAN DIT OPHOLD INDEHOLDE?</h2>
    <hr class="streg1" />
    <details>
      <summary>
        <div class="dropdown-overskrift">Teambulding</div>
        <div class="toggle-symbol">+</div>
      </summary>
      <p class="text">Hvorfor tage på et kedeligt kursus i Danmark, når du kan rejse ud i verden og udvikle dig samtidig? Du rejser sammen med andre unge voksne og lærer en hel masse om samarbejde, relationer, fællesskab, konflikter, styrker og stærke teams. Du får ikke blot rejse-erfaring på cv’et, men også et væld af brugbare redskaber til studie eller karriere.</p>
    </details>
    <hr class="streg1" />
    <details>
      <summary>
        <div class="dropdown-overskrift">Kulturprojekter</div>
        <div class="toggle-symbol">+</div>
      </summary>
      <p class="text">Har du lyst til at dykke ned i nye kulturer og være en del af projekter, hvor du kommer tættere på de lokale? På vores højskolerejser får du mulighed for at engagere dig i meningsfulde kulturprojekter og aktiviteter, der åbner døre til oplevelser, du ellers aldrig ville få. Vi får ikke bare indblik i landet, men også en ægte forståelse for kulturen og hverdagslivet, som kun opstår, når man deler tiden med mennesker, der bor der.</p>
    </details>
    <hr class="streg1" />
    <details>
      <summary>
        <div class="dropdown-overskrift">Friuger - et væld af muligheder</div>
        <div class="toggle-symbol">+</div>
      </summary>
      <p class="text">Efter spændende og lærerige undervisningsforløb, har vi – alt efter hvilken højskole rejse du vælger – lagt én eller flere friuger ind. Her har I mulighed for selv at tage styringen og udforske dét land, kontinent eller ø-rige vi befinder os i. Friugerne bliver brugt på forskellig vis og oftest deler holdet sig op i lidt mindre grupper for at tage på eventyr – andre gange rejser hele holdet sammen på en fed friuge.</p>
    </details>
    <hr class="streg1" />
    <details>
      <summary>
        <div class="dropdown-overskrift">Spænende kulturoplevelser</div>
        <div class="toggle-symbol">+</div>
      </summary>
      <p class="text">Kulturen er vigtig at opleve, når man befinder sig i et nyt land. Det giver dig både nogle rigtigt spændende oplevelser og menneske-møder, men også en unik indsigt, du ikke kan læse dig til i en bog eller se i et rejseprogram. På vores højskole ture kan du opleve alt fra ældgamle Hindu-templer i Indien, surf-kulturen på Hawaii, Mayaindianerne i Guatemala, de gamle inkaruiner i Mexico, buddhisme i Thailand, te-plantager i Sri Lanka og kakao-farme i Costa Rica.</p>
    </details>
    <hr class="streg1" />
    <details>
      <summary>
        <div class="dropdown-overskrift">Vilde naturoplevelser</div>
        <div class="toggle-symbol">+</div>
      </summary>
      <p class="text">Ingen rejse ud i verden uden eventyrlige og vilde naturoplevelser. Mange af de destinationer, hvor vi tager på højskoleophold, byder på enestående og overdådig natur. Det kan være alt fra snorkleture i Caribien, river rafting i Thailand, spotte brøleaber i Costa Ricas regnskove, gå på opdagelse i Inka-ruinerne i Mexico, trekke i Himalayas bjerge i Nepal, sejle kajak i marine nationalparker, dykke med manta rays på Hawaii, vandre i New Zealands fabelagtige nationalparker eller tage på safari i Sri Lanka og se leoparder, elefanter og bjørne. Alle vores rejser er fyldt med storslåede oplevelser, som du aldrig vil glemme.</p>
    </details>
    <hr class="streg1" />
  </div>
</section>

<script>
  document.querySelectorAll("details").forEach((details) => {
    const symbol = details.querySelector(".toggle-symbol");

    if (symbol) {
      symbol.textContent = "+";

      details.addEventListener("toggle", () => {
        symbol.textContent = details.open ? "-" : "+";
      });
    }
  });
</script>

<style>
  .dropdown-overskrift {
    font-size: 1.1rem;
    display: grid;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 500;
  }

  details {
    max-width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }

  .plus {
    margin-left: auto;
    cursor: pointer;
  }

  summary {
    cursor: pointer;
    color: #000000;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    cursor: pointer;
    position: sticky;
  }

  details[open] {
    background-color: bg-primary-400;
    font-size: 1rem;
    color: #000000;
  }

  .text {
    margin: 0.5em 0;
    padding-bottom: 0.5rem;
  }
  .open {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .toggle-symbol {
    padding-top: 6px;
    margin-left: auto;
    font-size: 1.1rem;
    color: #ff5900;
  }

  hr {
    background-color: var(--color-secondary);
    height: 1px;
    width: 100%;
    display: block;
    margin: 0.2rem 0;
  }

  @media screen and (max-width: 800px) {
    hr.streg1 {
      width: 95%;
      margin-left: auto;
      margin-right: 0;
    }
  }
</style>
