---

---

<footer class="bg-secondary-400 text-black p-7 md:p-0">
  <div class="container mx-auto p-4 grid md:grid-cols-4 pt-15 pb-15">
    <div class="pb-6">
      <h3 class="text-[17px] md:text-[20px] pt-5 md:pt-5 pb-2 md:pb-3">HÖJSKOLENDK</h3>
      <p>Rosenørns Allé 31</p>
      <p>1970 Frederiksberg</p>
      <p>Danmark</p>
      <div>
        <a href="http://">facebook</a>
        <a href="http://">insta</a>
        <a href="http://">youtube</a>
      </div>
    </div>
    <div class="pb-6">
      <h3 class="text-[17px] md:text-[20px] pt-5 md:pt-5 pb-2 md:pb-3">KONTAKT</h3>
      <p>Telefon: 70 27 90 07</p>
      <p>Mandag til Fredag / Kl 10.00-16.00</p>
      <p>info@hojskolendk.dk</p>
      <img src="/logo.webp" alt="logo" class="w-50 h-auto md:pt-5" />
    </div>
    <div class="pb-6">
      <h3 class="text-[17px] md:text-[20px] pt-5 md:pt-5 pb-2 md:pb-3">GODT AT VIDE</h3>
      <p>FAQ</p>
      <p>Job</p>
      <p>Bæredygtighed</p>
      <p>Rejsegarantifonden</p>
      <p>Fra tilmelding til afrejse</p>
      <p>Generelle bestemmelser</p>
      <p>Grupperejser for unge</p>
      <p>Rejs i sabbatår</p>
    </div>
    <div class="pb-6">
      <h3 class="text-[17px] md:text-[20px] pt-5 md:pt-5 pb-2 md:pb-3">SAMARBEJDSPARTNERE</h3>
      <div class="grid grid-cols-2 md:grid-cols-2">
        <img src="/jyskrejsebureausort.webp" alt="jyskrejsebureau" />
        <img src="/goudasort.webp" alt="gouda" />
        <img src="public/rejsegarantisort.webp" alt="rejsegaranti" />
        <img src="/coneutraltsort.webp" alt="coneutralt" />
      </div>
    </div>
  </div>
</footer>
